:root {
  color-scheme: light dark;
  --bg: #FFFFFF;
  --primary: #111111;
  --secondary: #888888;
  --accent: orange;
  --blue: #DEE7FC;
  --green: #F2F4D3;
  --orange: #FFE7D7;
  --pink: #FCF2F0;
  --blue-bg: #DEE7FC77;
  --green-bg: #F2F4D3AA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #222222;
    --primary: #F5F5F5;
    --secondary: #999999;
    --accent: #ffb347;
		--blue: #99B7F5;
		--green: #D5DF6F;
		--orange: #FFB380;
		--pink: #F6D6D1;
		--blue-bg: #99B7F522;
		--green-bg: #D5DF6F22;
  }
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background-color: var(--bg);
  color: var(--primary);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

header {
	align-items: center;
	margin-top: 1rem;
}

#languageSwitcher {
	text-align: right;
}

#languageSwitcher a {
	color: var(--secondary);
	text-decoration: none;
}

#languageSwitcher a:hover {
	text-decoration: underline;
}

#brand {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: fit-content;
  margin: auto;
}

#brand img {
  width: 220px;
  height: auto;
  display: block;
  flex-shrink: 0;
}

#brand h1 {
	font-size: 40pt;
	margin: 0;
}

#brand p {
	font-size: 18pt;
	margin-block: 0;
}

#brand .brandSubtitle {
	text-align: right;
}

@media (max-width: 700px) {
  #brand {
    flex-direction: column;
  }
}

#warning {
	text-align: center;
	max-width: 500px;
	border: 2px solid var(--accent);
	border-radius: 20px;
	margin: 1rem auto;
	padding: 0.5rem 0;
}

#warning h3, #warning p {
	margin: 0.5rem;
}

#warning h3 {
	margin-top: 0.25rem;
}

#brief {
	text-align: center;
}

#profile {
  display: flex;
  align-items: center;
}

#profile img {
	max-height: 300px;
}

@media (max-width: 600px) {
  #profile {
    flex-direction: column;
  }
}

#areasOfKnowledge div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5rem 1.5rem;
}

#areasOfKnowledge h3 {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0.25rem 1rem;
	min-height: 3rem;
	color: #111111;
	border: 2px solid var(--secondary);
	border-radius: 20px;
	margin-block: 0;
}

.card--blue {
	background-color: var(--blue);
}

.card--green {
	background-color: var(--green);
}

.card--orange {
	background-color: var(--orange);
}

.card--pink {
	background-color: var(--pink);
}

#services {
	margin: 0 auto;
	padding: 0.5rem;
	background-color: var(--blue-bg);
}

#services ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5rem 1.5rem;
  list-style: none;
  padding: 0;
}

#services li {
	padding: 0.25rem 1rem;
	border: 2px solid var(--secondary);
	border-radius: 20px;
	justify-content: center;
}

#services h3 {
	text-align: center;
}

footer {
	margin: 0;
	padding: 0.5rem;
  background-color: var(--green-bg);
}

footer div {
  max-width: fit-content;
  margin: 0 auto;
}
